nav{
    width:100%;
    /*background: #333;*/
    color: #f0eded;
    padding:4px 0;
    position: fixed;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
.logo{
    width: 100px;
    height: 80px;
}
nav ul li{
    display: inline-block;
    list-style:none ;
    margin:5px 20px;
    font-size: 16px;
}
.company-name {
    margin-right: 400px; /* Adjust margin as needed */
    font-size: 16px;
  }

.dark-nav{
    background: #525ac6;
    transition:05s;
}
.menu-icon{
    display: none;
}

/*---media query---*/
@media (max-width: 1700px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width: 1500px)
    {
        nav{
            padding: 15px 0;
        }
        nav ul{
            position: fixed;
            top:0;
            bottom:0;
            right:0;
            background: #212EA0;
            z-index: -1;
            width: 200px;
            padding-top: 70px;
            transition: 0.5s;
        }
        nav ul li{
            display: block;
            margin:25px 40px;
        }
        .menu-icon{
            display: block;
            width:30px;
            cursor: pointer;
        }
        .hide-mobile-menu{
            right:-200px;
        }
    }
